.logo-nav{
    margin-left: 30px;
    
    }
    
    .navbar-collapse{
        margin-left: 40%;
    }
    
    .carousel-caption{
        text-align: right;
    }
.carousel-inner{
    text-align: left;
    font-size: x-large;
}
.carousel-inner .carousel-caption{
    width: 60%;
    height: 755px;
}

#parte3 .card{
    background-color: rgb(61, 61, 61);
    color: honeydew;
}
#parte3 img{
    width: 300%;
}
.apellido {
	width: 100%;
	margin-bottom: 2px;
}

.container-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
